@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

header {
  height: 5rem;
  background: #d6e0f0;
  color: black;
  font-weight: 800;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #000;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 2rem;
  gap:20px;
}

.read-book,.remove-book, .not-read, .add-book-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background: #EDEDED;
  border: 2px solid;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-book-btn{
    align-self: center;
}

.read-book{
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: #C2EEBC;
}

.not-read{
    background: #EED7D7;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.remove-book{
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: firebrick;
    color: #ddd;
}

#book-list {
    align-self: flex-start;
  display: flex;
  gap: 1rem;
  /* flex-direction: row; */
  /* min-width: 100vw; */
  flex-wrap: wrap;
  /* width: 80vw; */
}

.book {
  display: flex;
  width: 300px;
  flex:1 0 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.8rem;
  border-radius: 25px;
  background-color: #d6e0f0;
}




.back-drop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EDEDED;
    padding: 1rem;
    z-index: 200;
    border-radius: 20px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.modal input{
padding: 0.8rem;
border-radius: 10px;
border: 1px solid #ccc;
caret-color: #ddd;
font-family: Roboto;
font-size: 1rem;

}

.modal input:focus{
        outline: none;
        box-shadow: 0 0 4px #ccc;
}

.modal input:hover{
    box-shadow: 0 0 4px #ccc;
}

.modal input::placeholder{
    font-size: 1rem;
    font-weight: 600;
}


.submit{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.display-none{
   display: none;
}



.title,.author{
    font-size: 1.5rem;
}


a{
    text-decoration: none;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
}